* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #d25b38;
    --transparent-color: rgba(230, 158, 151);
    --transparent-color2: rgba(210, 91, 56, 50%);
    --text-color: #454443;
    --ourSpecialService-background-color: #f4f2f2;
    --Bebas-Neue: "Bebas Neue", sans-serif;
    --Open-Sans: "Open Sans", sans-serif;
}

body {
    font-family: var(--Bebas-Neue);
}

.container-mennah {
    background-image: url(images/bg.png);
    background-size: cover;
    min-height: 100vb;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container-mennah header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: auto;
    padding: 10px 0;
    /* font-family: var(--Bebas-Neue); */
}

.container-mennah .logo {
    /* margin-left: 100px; */
    /* text-align: right; */
    width: 30%;
}

.container-mennah .logo img {
    width: 200px;
}

.container-mennah nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    /* margin: 0 10px; */
}

/* nav ul li:last-child {
    margin-right: 170px;
} */

.container-mennah nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
}

.container-mennah nav ul li a:hover {
    /* text-decoration: underline; */
    color: var(--main-color);
    border-bottom: 1.5px solid var(--main-color);
}

.container-mennah .container {
    /* font-size: 50px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: fit-content;
}

.container-mennah .container span {
    color: #e64f22;
}
.container-mennah .container h1 {
    font-size: 60px;
    margin: 150px 0 50px ;
    color: white;
}
.container-mennah .container p {
    color: white;
    font-style: italic;
    /* margin-left: 70px;
    margin-bottom: 0; */
}
.container-mennah .button-container {
    display: flex;
    gap: 15px;
    margin: 40px 0;
    /* margin-left: 70px; */
    /* margin-top: 60px; */
}
.container-mennah button {
    padding: 15px 50px;
    /* margin-right: 50px; */
    font-size: 16px;
    font-family: var(--Bebas-Neue);
    cursor: pointer;
    color: white;
    width: 180px;
}

.container-mennah .button1 {
    background-color: #e64f22;
    border: none;
    /* margin-right: 15px; */
}
.container-mennah .button2 {
    background-color: transparent;
    border: 5px solid white;
}
