* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #d25b38;
    --transparent-color: #e69e97;
    --transparent-color2: rgba(210, 91, 56, 50%);
    --text-color: #454443;
    --ourSpecialService-background-color: #f4f2f2;
    --Bebas-Neue: "Bebas Neue", sans-serif;
    --Open-Sans: "Open Sans", sans-serif;
}
#color-mode {
    position: fixed;
    right: 0;
    top: 20px;
    display: grid;
    background-color: #d25b38;
    padding: 6px;
    gap: 5px;
    z-index: 10;
}
#dark {
    text-align: center;
}
#light {
    text-align: center;
}
#dark i,
#light i {
    font-size: 25px;
}

.five .part1 {
    background-color: #f4f2f2;
    width: 100%;
    height: fit-content;
    min-height: 90vb;
    /* margin: 0 auto 20px; */
    display: flex;
    padding: 25px 15px;
    align-items: center;
}
.five .part1 h2 {
    /* position: relative;
    top: 160px;
    left: 50px; */
    font-size: 50px;
    color: #454443;
    text-transform: uppercase;
    width: 35%;
    padding: 20px 0 0 100px;
}
.five .part1 .packs {
    width: 65%;
    display: flex;
    gap: 20px;
}
.five .part1 .packs i {
    font-size: 35px;
    margin: 15px;
}
.five .part1 span:first-child {
    font-size: 60px;
}
.five .part1 span {
    display: block;
    color: #d25b38;
    font-size: 20px;
    text-transform: uppercase;
    margin: 5px;
}
.five .part1 h3 {
    font-size: 25px;
    color: #454443;
    text-transform: uppercase;
    margin: 8px;
}
.five .part1 .pac1,
.five .part1 .pac2,
.five .part1 .pac3 {
    display: inline-block;
    background-color: white;
    padding: 10px 5px 20px;
    width: 250px;
    text-align: center;
}
.five .part1 button {
    background-color: #d25b38;
    border: 2px solid #d25b38;
    border-radius: 5px;
    width: 140px;
    height: 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

@media (max-width: 1140px) {
    .five .part1 {
        display: grid;
        justify-content: center;
    }
    .five .part1 .packs,
    .five .part1 h2 {
        width: 100%;
        padding: 0 0 25px 0;
        text-align: center;
    }
}
@media (max-width: 820px) {
    .five .part1 .packs {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 245px);
    }
}
@media (max-width: 520px) {
    .five .part1 .packs {
        justify-content: center;
        grid-template-columns: repeat(1, 245px);
    }
}

.five .part2 {
    background-color: white;
    width: 100%;
    height: auto;
    min-height: 80vb;
    display: flex;
}
.five .part2-left {
    width: 40%;
    height: 100%;
    padding: 10px 0 0 20px;
}
.five .part2 .part2-right {
    height: 100%;
    width: 60%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.five .part2-right img {
    max-width: 744px;
}
@media (max-width: 670px) {
    .five .part2 {
        display: grid;
        justify-items: center;
    }
    .five .part2-left {
        width: 100%;
    }
    .five .part2 .part2-right {
        width: 100%;
        justify-content: center;
    }
    .five .part2-right img {
        max-width: 90%;
    }
}
.five .part2 .part2-left .address,
.five .part2 .part2-left .call,
.five .part2 .part2-left .email,
.five .part2 .part2-left .website {
    padding: 5px;
    margin: 20px;
    font-size: 20px;
}
.five .part2 .part2-left h2 {
    font-size: 50px;
    text-transform: uppercase;
    padding: 15px 30px;
    color: #454443;
}
.five .part2 .part2-left h3 {
    color: #d25b38;
    text-transform: uppercase;
}
.five .part2-left p {
    padding: 5px;
    margin: 3px;
    font-size: 18px;
}

.five .part2-left span {
    display: block;
    color: #d25b38;
    text-transform: uppercase;
}

.five .part3 {
    background-color: #f4f2f2;
    text-align: center;
    width: 100%;
    height: 50px;
    margin: auto;
}
.five .part3 p {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 15px;
}
/*@media only screen and (min-width: 600px){
    .row::after{
        content: '';
        clear: both;
        display: table;
    }
    [class*="col-"]{
        float: left;
    }
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
} */
